{% extends "base.template" %}

{% block content %}
  <h2>
    {{ surfboard.model_name }}
    <span class="dimensions">{{ surfboard.display_dimensions }}</span>
  </h2>
  
  <h2>Model</h2>
  <a href="/models/{{ surfboard.surfboard_model.pk }}/">
     {{surfboard.surfboard_model.model_name}}
  </a>

  <h2>Shapers</h2>
  <ul>
    {% for shaper in surfboard.shapers.all %}
      <li>
        {% include 'shared/shaper.template' %}
      </li>
    {% endfor %}
  </ul>

  {# include 'shared/shaper.template' with shaper=surfboard.shaper #}

  <h2>Current Owner</h2>
  {% include 'shared/surfer.template' with surfer=surfboard.surfer %}
{% endblock %}
