<table class="table table-condensed">
  
  {% if surfboards %}
  
    <thead>
      <th>Model</th>
      <th>Dimensions</th>
    </thead>
    
    {% for surfboard in surfboards %}
      <tr>
        {% include 'shared/surfboard.template' %}
      </tr>
    {% endfor %}

  {% else %}
    <tr>
      <td>
      No boards means no waves for {{ surfer.name }}!
      </td>
    </tr>
  {% endif %}

</table>